<?xml version="1.0" encoding="utf-8" ?>

<objects xmlns="http://www.springframework.net"
         xmlns:db="http://www.springframework.net/database"
         xmlns:tx="http://www.springframework.net/tx"
         xmlns:aop="http://www.springframework.net/aop">

  <object id="throwsException"
        type="Proasoft.Aspectos.ThrowsException, Proasoft">
  </object>

  <object id="AdministradorItem" type="Spring.Aop.Framework.ProxyFactoryObject">
    <property name="Target">
      <object type="PROASOFT.CapaDominio.ServiciosDominio.ServicioItem, PROASOFT.CapaDominio.ServiciosDominio">
        <constructor-arg ref="RepositorioItem"/>
        <constructor-arg ref="RepositorioMedida"/>
      </object>
    </property>
    <property name="InterceptorNames">
      <list>
        <value>throwsException</value>
      </list>
    </property>
  </object>

  <object name ="RepositorioItem" type="PROASOFT.CapaInfraestructura.SqlEntityFramework.Repositorios.RepositorioItem, PROASOFT.CapaInfraestructura.SqlEntityFramework"/>
  <object name ="RepositorioMedida" type="PROASOFT.CapaInfraestructura.SqlEntityFramework.Repositorios.RepositorioMedida, PROASOFT.CapaInfraestructura.SqlEntityFramework"/>
</objects>
