@model IEnumerable<WebChat.Models.Chat>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<table class="table">
    <tr>
        <th>
            Mensajes
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Regresar", "RoomsUser", new { idUser = @ViewBag.idUser })
</div>