<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="MaximoTamanoImagen" value="1000000" />
      <add key="NombreArchivoLog" value="Log"/>
      <add key="RutaLog" value="C:\SOTIFU\Logs"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <system.serviceModel>

        <client>
            <endpoint address="http://localhost:59144/ServicioWcf.svc" binding="clearUsernameBinding"
                bindingConfiguration="myClearUsernameBinding" contract="ServicioWcf.IServicioWcf"
                name="ClearUsernameBinding_IServicioWcf" />
        </client>
      <extensions>
        <bindingExtensions>
          <add name="clearUsernameBinding" type="WebServices20.BindingExtenions.ClearUsernameCollectionElement, ClearUsernameBinding" />
        </bindingExtensions>
      </extensions>

      <bindings>
        <clearUsernameBinding>
          <binding name="myClearUsernameBinding" messageVersion="Soap12" />
        </clearUsernameBinding>
      </bindings>
    </system.serviceModel>
</configuration>