<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.7.1" />
    <httpRuntime targetFramework="4.7.1" />
  </system.web>
  
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="BindingConfigurationStandard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Mtom">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
      <clearUsernameBinding>
        <binding name="myClearUsernameBinding" messageVersion="Soap12">
        </binding>
      </clearUsernameBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"  httpHelpPageEnabled="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
                customUserNamePasswordValidatorType="SEVENC.ServiciosDistribuidos.Servicios.Validador.ValidadorUsuarioClave, SEVENC.ServiciosDistribuidos.Servicios" />
          </serviceCredentials>
        </behavior>
        <!--<behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>-->
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <services>
      <service name="SEVENC.ServiciosDistribuidos.Servicios.ServicioWcf" behaviorConfiguration="serviceBehavior">
        <!--<endpoint address="" binding="wsHttpBinding" bindingConfiguration="BindingConfigurationStandard" contract="SEVENC.ServiciosDistribuidos.Servicios.IServicioWcf" />-->
        <endpoint binding="clearUsernameBinding" bindingConfiguration="myClearUsernameBinding" contract="SEVENC.ServiciosDistribuidos.Servicios.IServicioWcf" >
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:59144/ServicioWcf.svc" />
          </baseAddresses>
        </host>
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <extensions>
      <bindingExtensions>
        <add name = "clearUsernameBinding" type="WebServices20.BindingExtenions.ClearUsernameCollectionElement, ClearUsernameBinding"/>
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  
  <connectionStrings>
    <add name="ModeloDatosContainer" connectionString="metadata=res://*/Modelo.ModeloDatos.csdl|res://*/Modelo.ModeloDatos.ssdl|res://*/Modelo.ModeloDatos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CGDE038\SQLEXPRESS;initial catalog=SEVENC_BD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>